* {
    font-family: sans-serif;
}
body {
	background-color: rgba(239, 238, 238, 0.92);
}

#search-container {
	width: 400px;
	height: auto;
	box-shadow: 6px 7px 20px 3px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
}

#form-container {
	text-align: center;
	padding-top: 24px;
	padding-left: 9px;
	width: 96%;
}

#form-container input {
	width: 79%;
	height: 30px;
}

#form-container button {
	height: 35px;
}

#user-error {
	width: 360px;
	margin-left: 20px;
	background-color: red;
	text-align: center;
	display: none;
}


#profile-container {
	margin-top: 10px;
}

#profile-container img {
	width: 70px;
	height: auto;
	float: left;
	padding-left: 20px;
	display: inline-block;
}

#profile-container img {
	display: none;
}

#profile-name-bio {
	display: inline-table;

	max-width: 235px;
	max-height: 50px;
}

#profile-name-bio #user-name {
	font-size: 13px;
	font-style: oblique;
}

#profile-name-bio #user-full-name {
	margin-bottom: 0px;
}

#profile-name-bio>ul {
	margin-top: 0px;
	padding-left: 15px;
}

#profile-name-bio>ul>li>p {
	margin-top: 0px;
	margin-bottom: -15px;
	overflow-y: scroll;
}

#profile-container ul {
	list-style-type: none;
}

#repos-container ul {
	list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

#repos-ul>li {
	border-bottom: 2px solid #000;
}

#repos-ul>li>h5 {
	margin-bottom: 10px;
}

#repos-li-child>li {
	border-bottom: 1px solid #bfbebe;
}

ul#repos-li-child {
	padding: 0px;
}

#repos-li-child>li{
	padding: 10px;
}

#repos-li-child>li>h4{
/*	margin: 14px;*/
	display: inline;

}

#repos-li-child>li>span{
	float:right;
}