* {
    font-family: sans-serif;
}
body {
	background-color: rgba(239, 238, 238, 0.92);
}

/*CONTAINER---------------------*/

#search-container {
	width: 400px;
	height: auto;
	box-shadow: 6px 7px 20px 3px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
}

/*FORM--------------------------*/

#form-container {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 9px;
	width: 96%;
}

#form-container input {
	width: 71%;
	height: 30px;
	font-size: 13px;
	border-radius: 3px;
    border: 1px solid #d0c9c9;
	padding-left: 10px;
	outline-width: 2px;
}

#form-container button {
	height: 34px;
	width: 68px;
	margin-left: 4px;
	font-size: 13px;
	border-radius: 3px;
    border: 1px solid #d0c9c9;
    background: -webkit-linear-gradient(top, #ffffff, rgba(222, 219, 219, 0.41));
	vertical-align: middle;
	outline: 0px;
}

#form-container button:hover {
	background: -webkit-linear-gradient(top, #ffffff, rgba(140, 140, 140, 0.41));
}

/*ERROR MSG---------------------*/

#user-error {
	width: 350px;
	margin-left: 19px;
	margin-bottom: 20px;
	background-color: #F9DEDE;
	text-align: left;
	padding-left: 10px;
	display: none;
	border: 1px solid #d6c0c0;
	border-radius: 3px;
}

#user-error p {
	color: #a96969;
	font-size: 14px;
}

/*PROFILE INFO------------------*/

#profile-container {
	height: 70px;
	display: none;
	overflow: scroll;
}

#profile-container img {
	width: auto;
	height: 70px;
	float: left;
	border-radius: 5%;
	margin-left: 20px;
	display: inline-block;
}

#profile-container img {
	display: none;
}

#ul-profile-bio {
	margin-bottom: 0px;
}

#profile-name-bio #user-name {
	font-size: 13px;
	font-style: oblique;
}

#profile-name-bio #user-full-name {
	margin-bottom: 7px;
}

#profile-name-bio>ul {
	margin-top: 0px;
	padding-left: 15px;
}

#profile-name-bio>ul>li>p {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: -13px;
}

#profile-name-bio {
	display: table-header-group;
	max-width: 235px;
	max-height: 50px;
}

#profile-container ul {
	list-style-type: none;
}

/*REPOSITORIES------------------*/

#repos-container ul {
	list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

#repos-ul {
	margin-top: 0px;
}

#repos-ul>li {
	border-bottom: 2px solid #000;
}

#repos-ul>li>h5 {
	font-size: 16px;
	margin-bottom: 10px;
}

#repos-li-child {
	height: 220px;
    overflow: scroll;
}
	
#repos-li-child>li {
	border-bottom: 1px solid #bfbebe;
}

ul#repos-li-child {
	padding: 0px;
}

#repos-li-child>li{
	padding: 14px;
}

#repos-li-child>li>h4{

	display: inline;
}

#repos-li-child>li>span>i {
	padding-right: 3px;
	font-size: 14px;
}

#repos-li-child>li>span{
	float:right;
}